/*
           name: sticky-header
    description: frontend training sticky header, expand and shrink on scroll incl. responsive
         author: mario knecht
           date: 201804dd
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  height: 100%;
  margin: 0; }

h1 {
  font-size: 1.8rem;
  font-weight: bold; }

h2 {
  font-size: 1.8rem;
  font-weight: bold; }

h3 {
  font-size: 1.6rem;
  font-weight: bold; }

a {
  text-decoration: none;
  color: tomato; }
  a:hover {
    text-decoration: underline; }
  a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.container {
  position: relative;
  height: 100%;
  width: 100%; }

.infobox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 300px;
  height: 200px;
  border: 1px dotted tomato; }
